# Ignore .env file containing sensitive credentials
.env

# Ignore bundler config
/.bundle

# Ignore Mac OS X files
.DS_Store

# Ignore build artifacts
/vendor/bundle/

# Ignore log files
*.log

# Ignore tmp files
/tmp

# Ignore SQLite databases
*.sqlite3
*.sqlite3-journal

# Ignore coverage reports
/coverage/

# Ignore RubyMine/JetBrains files
.idea/

# Ignore VSCode files
.vscode/
